<a href="<%= instarters_path %>">Starters & Pre-starters</a></br>
<a href="<%= intandooris_path %>">Tandoori</a></br>
<a href="<%= inchef_recommendations_path %>">Chef Recommendations</a></br>
<a href="<%= inchicken_dishes_path %>">Chicken Dishes</a></br>
<a href="<%= inlamb_dishes_path %>">Lamb Dishes</a></br>
<a href="<%= insea_foods_path %>">Sea Food</a></br>
<a href="<%= invegetable_dishes_path %>">Vegetable Dishes</a></br>
<a href="<%= injhas_special_biryani_dishes_path %>">Jhas Special Biryani Dishes</a></br>
<a href="<%= inrice_dishes_path %>">Rice Dishes</a></br>
<a href="<%= inindian_breads_path %>">Indian Breads</a></br>
<a href="<%= indeserts_path %>">Deserts</a></br>
