<p id="notice"><%= notice %></p>

<h1>Intandooris</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Information</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intandooris.each do |intandoori| %>
      <tr>
        <td><%= intandoori.name %></td>
        <td><%= intandoori.information %></td>
        <td>£<%= intandoori.price %></td>
        <td><%= link_to 'Show', intandoori %></td>
        <td><%= link_to 'Edit', edit_intandoori_path(intandoori) %></td>
        <td><%= link_to 'Destroy', intandoori, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intandoori', new_intandoori_path %>
