<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inindian_bread.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @inindian_bread.information %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inindian_bread.price %>
</p>

<%= link_to 'Edit', edit_inindian_bread_path(@inindian_bread) %> |
<%= link_to 'Back', inindian_breads_path %>
