<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invegetable_dish.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @invegetable_dish.information %>
</p>

<p>
  <strong>Price:</strong>
  <%= @invegetable_dish.price %>
</p>

<%= link_to 'Edit', edit_invegetable_dish_path(@invegetable_dish) %> |
<%= link_to 'Back', invegetable_dishes_path %>
