<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @injhas_special_biryani_dish.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @injhas_special_biryani_dish.information %>
</p>

<p>
  <strong>Price:</strong>
  <%= @injhas_special_biryani_dish.price %>
</p>

<%= link_to 'Edit', edit_injhas_special_biryani_dish_path(@injhas_special_biryani_dish) %> |
<%= link_to 'Back', injhas_special_biryani_dishes_path %>
