<p id="notice"><%= notice %></p>

<h1>Insea Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Information</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insea_foods.each do |insea_food| %>
      <tr>
        <td><%= insea_food.name %></td>
        <td><%= insea_food.information %></td>
        <td><%= insea_food.price %></td>
        <td><%= link_to 'Show', insea_food %></td>
        <td><%= link_to 'Edit', edit_insea_food_path(insea_food) %></td>
        <td><%= link_to 'Destroy', insea_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insea Food', new_insea_food_path %>
