<%= form_with(model: inrice_dish, local: true) do |form| %>
  <% if inrice_dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inrice_dish.errors.count, "error") %> prohibited this inrice_dish from being saved:</h2>

      <ul>
      <% inrice_dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :information %>
    <%= form.text_area :information %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Dish' %>
  </div>
<% end %>
