<p id="notice"><%= notice %></p>

<h1>Inrice Dishes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Information</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inrice_dishes.each do |inrice_dish| %>
      <tr>
        <td><%= inrice_dish.name %></td>
        <td><%= inrice_dish.information %></td>
        <td>£<%= inrice_dish.price %></td>
        <td><%= link_to 'Show', inrice_dish %></td>
        <td><%= link_to 'Edit', edit_inrice_dish_path(inrice_dish) %></td>
        <td><%= link_to 'Destroy', inrice_dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inrice Dish', new_inrice_dish_path %>
