<p id="notice"><%= notice %></p>

<h1>Starters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Information</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instarters.each do |instarter| %>
      <tr>
        <td><%= instarter.name %></td>
        <td><%= instarter.information %></td>
        <td>£<%= instarter.price %></td>
        <td><%= link_to 'Show', instarter %></td>
        <td><%= link_to 'Edit', edit_instarter_path(instarter) %></td>
        <td><%= link_to 'Destroy', instarter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Starter', new_instarter_path %>
